/*WIDTH FOR CENTER CONTAINERS*/
.container {
    width: 100%;
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
}
.footer {
    min-height: 60px;
}
#bigImage img {
    width: 100%;
}
#rightHead {
    background-color: rgba(0, 0, 0, 0.59);
}
footer {
    
}
.dottedBorder {
    border-bottom: 1px dotted;
}
.autoWidth {
    max-width: 290px;
}