@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Amatic SC", sans-serif;
}
/*Navigation bar style below*/
#fixedNavBar {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 52px;
    color: white;
    background-color: black;
    opacity: 0.6;
    padding: 0;
    margin: 0;
}
#fixedNavBar:hover {
    opacity: 1;
}
#fixedNavBar ul {
    margin: 0;
    padding: 0;
    height: 100%;
}
#fixedNavBar li {
    display: inline-block;
    width: auto;
    height: 100%;
    text-align: center;
    font-size: 24px;
    padding: 11px 16px;
    margin: 0 auto;
    cursor: pointer;
}
#fixedNavBar li:hover {
    background-color: lightgray;
    color: black;
}
/*Main design rules for website()*/
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 100px;
    line-height: 150px;
    text-size-adjust: 100%;
    margin: 0 auto;
    font-weight: 400;
}
h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 96px;
    margin: 0;
    padding: 64px 0px 40px 0px;
    text-align: center;
}
h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    text-size-adjust: 100%;
    margin: 0;
    padding: 36px 0;
}
p {
    font-size: 24px;
    line-height: 36px;
    text-size-adjust: 100%;
    margin: 0;
    padding: 15px 0;
}
input {
    width: 100%;
    height: 60px;
    padding: 16px 8px;
    margin: 8px 0px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-stretch: 100%;
    vertical-align: middle;
    outline: none;
}
.forYourInfo {
    position: relative;
    display: block;
    background-color: black;
    width: auto;
    padding: 0px 8px;
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    text-size-adjust: 100%;
    margin: 0;
    top: 18px;
}
.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clearFloats {
    clear: both;
}

.fontWhite {
    color: white;
}

.alignContentCenter {
    position: relative;
    margin: 0 3%;
}
#restaurant {
    margin-top: 20px;
    width: 100%;
}
#chefPhoto {
    position: relative;
    top: 15px;
    width: 150px;
    border: none;
    border-radius: 50%;
}
.openingHours {
    width: 50%;
    padding: 0 0 0 5px;
    margin: 0 0 50px 0;
    border: none;
}
#lastParagraph {
    padding-bottom: 0;
}
#sendMessage {
    background-color: white;
    height: 40px;
    line-height: 0.2;
    margin-bottom: 80px;
}
#sendMessage:hover {
    background-color: lightgray;
}
#fixedNavBar a{
    text-decoration: none;
    color: white;
}
/*CONTENT BLOCKS STYLE*/
.mainBlocks {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
#headerTextBox {
    margin: 0 auto 50px auto;
    padding-top: 100px;
    text-align: center;
    z-index: 100;
}
#pizzaBackground {
    position: relative;
    display: block;
    background:  url('../img/pizza.jpg') no-repeat left;
    background-size: cover;
    min-height: 90vh;
    max-height: 100%;
    width: 100%;
    filter: grayscale(0.5);
    padding: 0;
    margin: 0;
}
#fullMenuWrapper {
    margin-bottom: 100px;
}
#menuSelectionButtons {
    width: 100%;
    height: 81px;
    border: 1px solid grey;
    margin: 0;
    padding: 0;
}
#pizza {
    background-color: #f44336;
}
#salads {
    background-color: black;
}
#starter {
    background-color: black;
}
#pizza, #salads, #starter {
    position: relative;
    top: 1px;
    width: 33.33333333333332%;
    color: white;
    border: none;
    outline: none;
    height: 100%;
    line-height: 54px;
    padding: 0;
    margin: 0;
    font-size: 36px;
    text-size-adjust: 100%;
    float: left;
}
#salads:hover, #pizza:hover, #starter:hover {
    background-color: #f44336!important;
}
#menuItemsWrapper {
    position: relative;
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
}
#aboutBlock {
    background-color: #8b5f5b;
    width: 100%;
}
#aboutBlock h3 {
    font-weight: 700;
}
#googleMaps {
    padding: 0;
    margin: 0;
    height: 400px;
}
#googleMaps iframe {
    filter: grayscale(0.5);
}
#contactBlock {
    background-color: #6c7a81;
}
/*Header design*/
#opentime {
    position: absolute;
    bottom: 6px;
    left: 20px;
    background-color: black;
    font-size: 24px;
    line-height: 36px;
    padding: 0 8px;
}
#pizzaBackground button {
    display: inline-block;
    background-color: black;
    min-height: 70px;
    font-size: 36px;
    padding: 8px 16px;
    border: none;
    outline: none;
}
#pizzaBackground button:hover {
    background-color: #9e9e9e;
    color: black;
}
/*MENU ITEMS DESIGN*/
.pizzaRows {
    height: 100%;
    width: 96%;
    margin: 0 auto;
    padding: 36px 0;
    font-size: 36px;
    line-height: 54px;
    text-size-adjust: 100%;
}
#menuItemsWrapper hr {
    visibility: visible;
    height: 1px;
    background-color: black;
    opacity: 0.2;
    width: 96%;
}
.itemsName {
    font-weight: 700;
    float: left;
}
.itemsName_Extra {
    position: relative;
    left: 10px;
    float: left;
    border: none;
    border-radius: 4px;
    padding: 0 8px;
    text-align: center;
}
.itemsName_Extra.hot {
    background-color: #f44336;
    color: white;
}
.itemsName_Extra.new-popular-seasonal {
    background-color: #9e9e9e;
}
.listingPrice {
    background-color: #616161;
    border: none;
    border-radius: 4px;
    float: right;
    padding: 0 8px;
}
.itemsIngredients {
    color: #757575;
    margin-top: 40px;
}
#pizzaList {
    display: normal;
}
#saladList {
    display: none;
}
#starterList {
    display: none;
}
/*Footer design*/
#footerBlock {
    height: 222px;
    text-align: center;
}
#footerBlock footer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 54px;
    font-size: 36px;
}
#footerBlock a {
    color: white;
}
#footerBlock a:hover {
    color: green;
}
/*@media if browser screen size bigger than 600px*/
@media only screen and (min-width: 600px) {
    #fixedNavBar {
        display: block;
        z-index: 999;
    }
    #pizza, #salads, #starter {
        position: relative;
        top: 0px;
        left: 1px;
    }
}
/*@media if browser screen size bigger than 1052px*/
@media only screen and (min-width: 1052px) {
    .alignContentCenter {
        margin: 0 auto;
        max-width: 980px;
    }
}